.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header-logo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 1.17;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: #2e2f42;
  text-transform: uppercase;
  padding: 16px 0;
}

.header-logo span {
  color: #4d5ae5;
}

.mobile-menu-open-btn {
  display: flex !important;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.mobile-menu-open-icon {
  fill: #2e2f42 !important;
  stroke: #2e2f42 !important;
  width: 24px;
  height: 24px;
}

.menu,
.contacts {
  display: none;
}

.contacts-link {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #434455;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

@media screen and (min-width: 768px) {
  .mobile-menu-open-btn {
    display: none !important;
  }

  .menu,
  .contacts {
    display: block;
  }

  .header-logo {
    line-height: 1.3;
    margin-right: 120px;
    padding: 0;
  }

  .menu-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .menu-link {
    display: block;
    font-weight: 500;
    color: #2e2f42;
    padding: 24px 0;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu-link:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 2px;
    display: block;
    width: 100%;
    height: 4px;
    background-color: transparent;
  }

  .menu-link:hover,
  .menu-link:focus,
  .menu-link.active {
    color: #404bbf;
  }

  .menu-link.active::after {
    background-color: #404bbf;
  }

  .contacts {
    margin-left: auto;
  }

  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
  }
}

@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }

  .contacts-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  .contacts-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}